@import url('./general.css');

.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    font-family: serif;
    font-style: italic;

    & > div {
        /* border: solid 1px black; */
        box-sizing: border-box;
        position: relative;
    }

    & > .header {
        --margin: 5dvw;
        margin: 0 var(--margin);
        font-size: var(--root-font-size);
        line-height: var(--header-height);
        padding-left: var(--root-font-size);
        z-index: 0;
        border-bottom: groove 1dvh var(--border);
        border-radius: 1dvh;
        /* overflow: hidden; */

        & > span {
            z-index: 2;
            display: inline-block;
            position: relative;
        }

        /* &::before {
            content: "";
            display: block;
            height: 150%;
            width: 20%;
            background-color: var(--base);
            position: absolute;
            right: var(--root-font-size);
            top: 25%;
            z-index: 1;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
        } */

        &::after {
            content: "";
            display: block;
            width: 200%;
            height: 150%;
            background-color: var(--accent);
            position: absolute;
            left: calc(-1*var(--margin));
            top: 0px;
            transform-origin: 50% 100%;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    & > .main {
        display: block;
        width: 100%;
        height: calc(100dvh - var(--header-height) - var(--footer-height));
    }

    & > .footer {
        /* background-color: var(--base); */
        /* --padding: 5; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        overflow-y: visible;
        overflow-x: visible;
        background-color: var(--accent);
        border-radius: calc(var(--footer-height)/4);
        /* padding: var(--padding) 0; */
        /* z-index: -2; */
        isolation: isolate;
        position: relative;

        & > .icon {
            height: 100%;
            display: grid;
            place-items: center;

            /* &:hover {
                & > .img {
                    top: calc(-0.5*var(--footer-height));

                    &::before {
                        opacity: 1;
                    }
                }
            } */

            &.selected > .img {
                top: calc(-0.5*var(--footer-height));
            }
            
            & > .img {
                display: block;
                height: calc(var(--footer-height)*0.8);
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--base);
                /* background: linear-gradient(45deg, var(--base) 0%, white 80%, var(--base) 100%); */
                position: relative;
                top: 0px;
                background-size: 100%;
                background-repeat: no-repeat;
                transition: top 0.3s ease;

                /* &:active, &:hover {
                    top: calc(-0.5*var(--footer-height));

                    &::before {
                        opacity: 1;
                    }
                } */

                &::before {
                    --size: min(var(--footer-height),25dvw);
                    /* content: ""; */
                    display: block;
                    position: absolute;
                    inset: calc((100% - var(--size)) / 2);
                    /* height: min(var(--footer-height),calc(25dvw)); */
                    height: var(--size);
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--background);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    z-index: -1;
                    /* clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%); */
                }

                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    inset: 0;
                    height: 100%;
                    aspect-ratio: 1;
                    background: linear-gradient(45deg, transparent 0% 70%, white 80%, transparent 90% 100%);
                    opacity: 0.5;
                    border-radius: 50%;
                }
            }
        }

        & > .pointer {
            --left: 0;
            --size: min(var(--footer-height),25dvw);

            width: 25dvw;
            height: var(--footer-height);
            position: absolute;
            top: calc(-0.5*var(--size));
            left: calc(var(--left)*25dvw);
            display: grid;
            place-items: center;
            place-content: center;
            transition: left 0.1s ease;
            z-index: -1;

            &::after {
                content: "";
                width: var(--size);
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--background);
                clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
                margin: auto;
            }
        }
    }
}