:root {
    --background: #FFFFFF;
    --base: #F2BC94;
    --accent: #722620;
    --selected: #DE8A0D;
    --color: #000000;
    --border: #ccc;

    --header-height: 15dvh;
    --footer-height: clamp(10dvh, 15dvh, 25dvw);

    --root-font-size: clamp(5dvw, 5dvh, 8dvh);
}

html, body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: var(--background);
}

.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    font-family: serif;
    font-style: italic;

    & > div {
        /* border: solid 1px black; */
        box-sizing: border-box;
        position: relative;
    }

    & > .header {
        --margin: 5dvw;
        margin: 0 var(--margin);
        font-size: var(--root-font-size);
        line-height: var(--header-height);
        padding-left: var(--root-font-size);
        z-index: 0;
        border-bottom: groove 1dvh var(--border);
        border-radius: 1dvh;
        /* overflow: hidden; */

        & > span {
            z-index: 2;
            display: inline-block;
            position: relative;
        }

        /* &::before {
            content: "";
            display: block;
            height: 150%;
            width: 20%;
            background-color: var(--base);
            position: absolute;
            right: var(--root-font-size);
            top: 25%;
            z-index: 1;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
        } */

        &::after {
            content: "";
            display: block;
            width: 200%;
            height: 150%;
            background-color: var(--accent);
            position: absolute;
            left: calc(-1*var(--margin));
            top: 0px;
            transform-origin: 50% 100%;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    & > .footer {
        /* background-color: var(--base); */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        overflow-y: visible;
        overflow-x: visible;
        background-color: var(--accent);
        border-radius: calc(var(--footer-height)/4);
        padding: 2% 0;
        /* z-index: -2; */
        isolation: isolate;

        & > div {
            height: 100%;
            display: grid;
            place-items: center;

            &:hover {
                & > .img {
                    top: calc(-0.5*var(--footer-height));

                    &::before {
                        opacity: 1;
                    }
                }
            }
            
            & > .img {
                display: block;
                height: stretch;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--base);
                /* background: linear-gradient(45deg, var(--base) 0%, white 80%, var(--base) 100%); */
                position: relative;
                top: 0px;
                background-size: 100%;
                background-repeat: no-repeat;
                transition: top 0.3s ease;

                /* &:active, &:hover {
                    top: calc(-0.5*var(--footer-height));

                    &::before {
                        opacity: 1;
                    }
                } */

                &::before {
                    --size: min(var(--footer-height),calc(25dvw));
                    content: "";
                    display: block;
                    position: absolute;
                    inset: calc((100% - var(--size)) / 2);
                    /* height: min(var(--footer-height),calc(25dvw)); */
                    height: var(--size);
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--background);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    z-index: -1;
                }

                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    inset: 0;
                    height: 100%;
                    aspect-ratio: 1;
                    background: linear-gradient(45deg, transparent 0% 70%, white 80%, transparent 90% 100%);
                    opacity: 0.5;
                    border-radius: 50%;
                }
            }
        }
    }
}