.page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    font-family: serif;
    font-style: italic;

    & > div {
        box-sizing: border-box;
        position: relative;
    }

    & > .header {
        --margin: 5dvw;
        margin: 0 var(--margin);
        font-size: var(--root-font-size);
        line-height: var(--header-height);
        padding-left: var(--root-font-size);
        border-bottom: groove 1dvh var(--border);
        border-radius: 1dvh;

        & > span {
            z-index: 2;
            display: inline-block;
            position: relative;
        }

        &::after {
            content: "";
            display: block;
            width: 200%;
            height: 150%;
            background-color: var(--accent);
            position: absolute;
            left: calc(-1*var(--margin));
            top: 0px;
            transform-origin: 50% 100%;
            transform: rotate(45deg);
        }
    }

    & > .main {
        display: block;
        width: 100%;
        height: calc(100dvh - var(--header-height) - var(--footer-height));
    }

    & > .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        overflow-y: visible;
        overflow-x: visible;
        background-color: var(--accent);
        border-radius: calc(var(--footer-height)/4);
        isolation: isolate;
        position: relative;

        & > .icon {
            height: 100%;
            display: grid;
            place-items: center;

            &.selected > .img {
                top: calc(-0.5*var(--footer-height));
            }
            
            & > .img {
                display: block;
                height: calc(var(--footer-height)*0.8);
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--base);
                position: relative;
                top: 0px;
                background-size: 100%;
                background-repeat: no-repeat;
                transition: top 0.2s linear;

                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    inset: 0;
                    height: 100%;
                    aspect-ratio: 1;
                    background: linear-gradient(45deg, transparent 0% 70%, white 80%, transparent 90% 100%);
                    opacity: 0.5;
                    border-radius: 50%;
                }
            }
        }

        & > .pointer {
            --size: min(var(--footer-height),25dvw);

            width: 25dvw;
            height: var(--footer-height);
            position: absolute;
            top: calc(-0.51*var(--size));
            left: 0;
            display: grid;
            place-items: center;
            place-content: center;
            transition: left 0.1s linear;
            z-index: -1;

            &::after {
                content: "";
                width: var(--size);
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--background);
                clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
                margin: auto;
            }
        }
    }
}