/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #333 !important;
        --base: #f3d9c5 !important;
        --accent: #94312a !important;
        --selected: #e79d2e !important;
        --color: white !important;
        --border: #eee !important;
    }

    * {
        text-shadow: 0 0 min(1vh, 1vw) var(--color);
    }
} */

:root {
    --background: #FFFFFF;
    --base: #F2BC94;
    --accent: #722620;
    --selected: #DE8A0D;
    --color: #000000;
    --border: #ccc;

    --header-height: 15dvh;
    --footer-height: clamp(10dvh, 15dvh, 25dvw);

    --root-font-size: clamp(5dvw, 5dvh, 8dvh);
}

html, body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: var(--background);
}